*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    height: 100vh;
    width: 100%;
}
.left{
    height: 100vh;
    width: 40%;
    position: relative;
}
.right{
    height: 100vh;
    width: 60%;
    background-color: rgb(69, 33, 103);
}
#rtop{
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: cadetblue;
}
#rbottom{
    height: 50vh;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1716892888227-7051cb976c98?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
}
#rtopr{
    height: 100%;
    width: 45%;
    background-image: url(https://plus.unsplash.com/premium_photo-1719611418529-9f07470ded0f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#rtopl{
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1719899856125-4b8c8dec3754?q=80&w=1917&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
#rnav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-right: 20px;
}
#rnav{
    display: flex;
    align-items: center;
}
#rnav svg{
color: royalblue;
}
#textcentre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcentre h1{
    font-size: 80px;
}
#textcentre p{
    opacity: .6;
    font-size: 15px;
    line-height: 15px;
    margin: 20px 0px;
}
#textcentre a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}
@media(max-width:500px){
    .main{
        flex-direction: column;
    }
    .main .left{
        width: 100%;
    }
    .main .right{
        height: 50%;
        width: 100%;
    }
}