body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
}
fieldset{
    background-color: antiquewhite;
    border-radius: 8px; 
    border-color: black;
}
h1{
    padding: 10px;
    border-bottom: solid black;
}
input[type="name"]{
    padding: 5px;
    width: 45%;
}
input[type="email"]{
    padding: 5px;
    width: 45%;
}
input[type="date"]{
    padding: 5px;
    width: 45%;
}
.reset{
    padding: 2px;
    width: 10%;
}